services:
  db:
    image: postgres:15
    container_name: skincare-db
    restart: always
    ports:
      - "5431:5432"
    environment:
      POSTGRES_DB: skincare
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: skincare-backend
    command: >
      python -m uvicorn backend.main:app
      --host 0.0.0.0
      --port 8000
      --reload
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DATABASE_URL: postgresql://postgres:admin@db:5432/skincare
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: front
      dockerfile: Dockerfile
    container_name: skincare-frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
  frontend_node_modules:
